@import url("~@/assets/style/mixin.less");
//添加编辑方案
.scheme-detail{
  .reback{
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 16px;
  }
  .scheme-detail-sider{
    // background:#fff;
    // width:330px !important;
    // flex:0 0 330px !important;
    // max-width: none !important;
    .pagination{
      .flex();
      margin:20px auto;
    }
  }
  .ant-layout-header{
    height: auto;
  }
  .ant-layout-content{
    min-height: auto !important;
  }
  .content{
    h3{
      text-align: center;
      padding:20px 0;
    }
    .content-btn{
      .flex(flex-end)
    }
  }
}