.ant-card-head-title {
  .anticon-arrow-left {
    margin-right: 20px;
    cursor: pointer;
  }
}

//编辑器
.quill-editor {
  .ql-container {
    height: 200px;
    overflow-y: auto;
  }
}

.ant-card-head + .ant-card-body {
  padding: 16px 24px;
}
//success类型按钮
.ant-btn-success {
  color: #fff;
  background-color: #19be6b;
  border-color: #19be6b;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
.ant-btn-success:hover {
  color: #fff;
  background-color: #47cb89;
  border-color: #47cb89;
}
.ant-btn-success:focus {
  color: #fff;
  background-color: #47cb89;
  border-color: #47cb89;
  box-shadow: 0 0 0 2px rgba(25, 190, 107, 0.2);
}
.ant-card {
  .ant-layout {
    background: transparent;
  }
  .ant-layout-sider {
    background: transparent;
    box-shadow: none !important;
  }
  .ant-layout-content {
    background: transparent;
  }
}

.ant-pagination {
  float: right;
}

.ant-card-head {
  border: none;
}

//页头
.ant-page-header {
  background-color: #ffffff;
  margin-top: 2px;
  position: relative;
  padding-top: 36px;

  .ant-page-header-content {
    position: absolute;
    top: 0;
  }
}
