.organization {

  //部门管理
  .department-left>div,
  .department-right>div {
    padding: 15px;
    border: 1px solid #e8e8e8;
    // box-shadow: 1px 0 6px rgba(0, 21, 21, 0.35);
  }

  .department-right {
    .ant-card-body {
      padding: 0;
    }
  }
}