@import url("~@/assets/style/mixin.less");
.team-detail{
  //小组汇总>>查看详情
  .reback{

    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 16px;
  }
  .team-detail-sider{
    background:#fff;
    width:330px !important;
    flex:0 0 330px !important;
    max-width: none !important;
    .devide{
      height: 16px;
      background-color: #f0f2f5;
    }
  }
  .group-detail{
    //小组详情
    .item{
      .flex("flex-start","flex-start");
      .item-label{
        white-space: nowrap;
      }
      .item-content{
        .flexWrap("flex-start","flex-start");
        &>div{
          .flex();
          padding:5px 5px 5px 0;
        }
        .photo{
          width: 20px;
          height: 20px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 2px;
        }
      }
    }
  }
  //中间
  .brief{
    padding:10px;
    background: #fff;
    span{
      color:rgb(31,90,219) ;
      font-weight: 500;
    }
  }
}