#workbench {
  .ant-layout {
    //工作台外联样式
    margin-right: 10px;
    .ant-layout-header {
      //头部样式集
      background-color: transparent;
      padding: 0;
      height: 108px;
      margin-bottom: 10px;

      .ant-card {
        .ant-card-head {
          border-bottom: none;
        }
        .ant-card-head-title,
        .ant-card-body {
          text-align: center;
          font-weight: 900;
          width: 100%;
        }
      }
    }
    .left-bottom-sider {
      //左侧 sider样式集
      .ant-layout-has-sider {
        margin-right: 0;
        .ant-layout-sider {
          background-color: transparent;
          box-shadow: none;
          margin-right: 1%;
          .ant-layout-sider-children {
            .calendar-body {
              .ant-card-body {
                width: 100%;
                text-align: left;
              }
              //日历样式
              width: 100%;
              border: "1px solid #d9d9d9";
              border-radius: "4px";
              margin-bottom: 30px;
              .ant-fullcalendar-header {
                text-align: center;
              }
              .station-list {
                //左下 list样式
                display: flex;
                justify-content: space-between;
                .item-box {
                  span {
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    text-align: center;
                    line-height: 25px;
                    color: #fff;
                    font-weight: 600;
                    &:nth-child(1) {
                      background-color: #ffa616;
                      margin-right: 5px;
                    }
                    &:nth-child(2) {
                      background-color: #28b3cb;
                      margin-left: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .center-content {
      .ant-layout-content {
        min-height: 100% !important;
        //中间 content样式集
        .ant-card-head-title {
          font-weight: 600;
          font-size: 17px;
        }
      }
    }
  }

  .layout-right {
    //右侧sider样式集

    display: inline-block;
    width: 20%;
    .ant-layout-sider {
      width: 100% !important;
      max-width: 100% !important;
      min-width: 100% !important;
    }
    .calendar-body {
      .right-top {
        width: 260px;
        div {
          &:nth-child(1) {
            float: left;
          }
          &:nth-child(2) {
            float: right;
            width: 180px;
            margin-bottom: 20px;
            span {
              padding: 5px;
              &:nth-child(1) {
                font-weight: 900;
                font-size: 18px;
              }
              &:nth-child(2) {
                font-weight: 900;
                font-size: 16px;
                color: #ccc;
              }
              &:nth-child(3) {
                font-weight: 500;
                font-size: 22px;
                color: #c9cad1;
              }
            }
          }
        }
      }
      .ant-card-head-title {
        font-weight: 900;
        font-size: 17px;
      }
      .back-class {
        position: absolute;
        top: 12%;
        right: 5%;
        font-size: 25px;
        .anticon-left-square {
          margin-right: 10px;
        }
        i {
          cursor: pointer;
        }
      }
    }
  }
}
