@buttonColor: rgba(9, 114, 188, 1);
@boxColor: rgba(241, 243, 244, 1);
@inputColor: #e3e5e6;
@shadow: #868c8f 1px 1px 50px 1px;

.login,
.sign-up {
  width: 100vw;
  height: 100vh;

  .title-line {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 1);
    border: 0.76px solid rgba(170, 169, 169, 1);
    opacity: 0.5;
    margin-bottom: 40px;
    transform: translateY(-1.26px);
  }

  .login-signup-header {
    width: 100%;
    height: 52px;
    background-color: #171717;
    position: fixed;
    top: 0;
    padding: 10px 5px;

    .slider-logo {
      float: left;
      height: 100%;
      background: none;
    }
  }

  .ivu-input {
    border: 1px solid rgba(106, 106, 106, 1);
    padding: 4px 15px;
    background-color: @inputColor;
  }

  .ivu-input:focus {
    box-shadow: none;
    border-color: #aaa9a9;
    background-color: @boxColor;
  }

  .ivu-checkbox-input {
    background-color: @inputColor;
  }

  .ivu-icon-md-arrow-dropright {
    color: #9ba2a5;
    position: absolute;
    right: 0;
    transform: rotateZ(45deg);
  }

  .verify-button {
    height: 42px;
    vertical-align: top;
    background-color: @buttonColor;
  }

  .to-login-block {
    width: 100%;
    text-align: center;
    margin-top: 20px;

    .to-login {
      font-size: 12px;
      color: #2d8cf0;
      cursor: pointer;
      transition: color 0.2s ease;
      margin: 0 auto;
    }
  }
}

.login {
  background: url("../../img/login_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;

  .login-box {
    position: absolute;
    top: 36%;
    left: 65%;
    width: 380px;
    height: 398px;
    background-color: @boxColor;
    padding: 40px 40px;
    border-radius: 4px;
    box-shadow: @shadow;

    .logo {
      height: 109px;
      width: 104px;
      background: url("../../img/logo.png") no-repeat;
      background-size: 100% 100%;
      position: absolute;
      top: -150px;
      left: 0;
    }

    .logo-text {
      position: absolute;
      top: -150px;
      left: 109px;
      color: #31a2f2;
      line-height: 108px;
      font-size: 54px;
      font-family: "RuiZiGongFangGuangHuiDaHeiJian";
    }

    .login-title {
      font-size: 16px;
      font-family: "Microsoft YaHei";
      font-weight: 400;
      width: fit-content;
      border-bottom: 2px solid rgba(64, 64, 64, 1);
      color: rgba(64, 64, 64, 1);
      padding-bottom: 20px;
    }

    .ant-form {
      text-align: center;
      .ant-form-item {
        margin-bottom: 20px;
        &:last-child {
          height: 44px;
          margin-top: 70px;
          .ant-form-item-control {
            height: 100%;
          }
        }
        .ant-input {
          height: 42px;
          padding-left: 50px !important;
        }

        .ant-input-prefix {
          width: 12px;
          i {
            font-size: 16px;
            line-height: 42px;

            &::before {
              padding: 0 12px;
              border-right: 1px solid #9ba2a5;
            }
          }
        }

        .ivu-input-suffix {
          i {
            font-size: 18px;
            line-height: 42px;
          }
        }

        .ivu-input-default {
          padding-left: 56px;
        }

        .ivu-icon-md-arrow-dropright {
          bottom: 0;
        }
      }

      .link {
        float: right;

        a,
        #forgetPass {
          font-size: 12px;
          color: inherit;
          cursor: pointer;

          &:last-child {
            margin-left: 10px;
          }

          &:focus {
            outline: -webkit-focus-ring-color auto 1px;
          }
        }
      }

      .verify-code {
        width: 188px;
      }

      .verify-button {
        margin-left: 10px;
        width: 102px;
        background-color: @buttonColor;
      }

      .login-button {
        width: 100%;
        height: 44px;
        background-color: @buttonColor;
        margin-top: 20px;
      }
    }
  }
}

.sign-up {
  // background: url("../../img/signup_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;

  .signup-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 8% auto;
    width: 440px;
    height: 622px;
    background: @boxColor;
    border-radius: 4px;
    padding: 36px 41px;
    box-shadow: @shadow;

    .signup-title {
      font-size: 16px;
      font-family: "Microsoft YaHei";
      font-weight: 400;
      width: fit-content;
      border-bottom: 2px solid rgba(64, 64, 64, 1);
      color: rgba(64, 64, 64, 1);
      padding-bottom: 20px;

      i {
        cursor: pointer;
      }
    }

    .ivu-form {
      text-align: center;

      .ivu-form-item-error-tip {
        top: 75%;
      }

      .ivu-form-item {
        margin-bottom: 10px;

        &:last-child {
          margin-top: 40px;
        }

        .ivu-input {
          height: 42px;
          margin-bottom: 10px;
        }

        .ivu-input-icon-validate {
          display: none;
        }

        .ivu-input-suffix {
          i {
            font-size: 18px;
            line-height: 42px;
          }
        }

        .ivu-icon-md-arrow-dropright {
          bottom: 10px;
        }
      }

      .agreement {
        .ivu-checkbox-wrapper {
          font-size: 12px;

          span {
            margin-right: 5px;
          }
        }
      }

      .verify-code {
        width: 220px;
      }

      .verify-button {
        margin-left: 18px;
        width: 120px;
        background-color: @buttonColor;
      }

      .signup-button {
        width: 100%;
        height: 44px;
        margin-top: 45px;
        background-color: @buttonColor;
      }
    }
  }
}
