.index {
  .ant-card {
    margin-bottom: 16px;
  }

  .charts {
    height: 381px;
    overflow: hidden;
  }


  #container {
    margin-top:16px;
    height: 550px;
  }

  .ant-empty-image {
    height: 74px;
  }

.progress{
  display: flex;
  justify-content: space-around;
  .item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    p{
      text-align:center;
    }
  }
}
}