.index {
  .ant-card {
    margin-bottom: 16px;
  }

  .charts {
    height: 381px;
    overflow: hidden;
  }

  #container {
    margin-top: 16px;
    height: 550px;
  }

  .ant-empty-image {
    height: 74px;
  }

  .progress {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;

    .item {
      margin-bottom: 16px;
      margin-right: 16px;

      p {
        text-align: center;
      }
    }
  }
}
